@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.sidebar {
  width: 345px;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  background: var(--main-color);
  z-index: 100;
  transition: all 0.3s;
}

.sidebar-brand {
  font-size: 0.8em;
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: white;
}

.sidebar-brand i {
  display: inline-block;
  padding-right: 1em;
}

.sidebar-menu {
  margin-top: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header {
  width: calc(100% - 70px);
  left: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand h1 span,
#nav-toggle:checked + .sidebar li a span {
  display: none;
}

#nav-toggle:checked + .sidebar li a {
  margin-left: -22px;
  padding-left: 1em;
}

#nav-toggle:checked + .sidebar .sidebar-brand {
  margin-left: -12px;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  color: white;
  display: block;
  font-size: 1.2em;
}

.sidebar-menu a i:first-child {
  font-size: 1.5em;
  padding-right: 1em;
}

.sidebar-menu .active {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 40px 0 0 40px;
}

.active i {
  color: var(--main-color);
}
.main-content {
  transition: all 0.3s;
  margin-left: 345px;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% - 345px);
  top: 0;
  z-index: 100;
  transition: all 0.3s;
}

header h1 {
  color: #222;
}

header label i {
  color: #222;
  font-size: 1em;
  padding-right: 1rem;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 40px;
  height: 50px;
  overflow: hidden;
}

.search-wrapper i {
  color: black;
  padding: 0 1em;
  font-size: 1.4em;
}

.search-wrapper input {
  height: 100%;
  padding: 0.2em;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 0.5em;
}

.user-wrapper p {
  display: inline-block;
  color: var(--text-grey);
}
main {
  margin-top: 82px;
  padding: 2em 1.5em;
  background-color: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin-bottom: 1em;
}

.card-single {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.7em;
  border-radius: 5px;
}

.card-single h3 {
  font-size: 2em;
}

.card-single i {
  font-size: 3em;
  color: var(--main-color);
}

/* .card-single:last-child span,
i {
  color: #fff;
}

.card-single:last-child i {
  color: #fff;
} */

/* .card-single:last-child {
  color: #fff;
  background-color: var(--main-color);
} */

.recent-grid {
  margin-top: 3em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 67% 30%;
}

.card {
  background-color: #fff;
  border-radius: 5px;
}

.card-header,
.card-body {
  padding: 1em;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.card-header button {
  background-color: var(--main-color);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 0.5em 1em;
  color: #fff;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  /* padding: 0.5em 0; */
}

thead td {
  font-weight: 700;
}

td {
  padding: 0.5em 1em;
  font-size: 0.9em;
  color: #222;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: .5em 1em; */
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  margin-right: 1em;
}

.info h4 {
  font-size: 0.8em;
  font-weight: 600;
  color: #222;
}

.info p {
  font-weight: 600;
  color: var(--text-grey);
}

.contact i {
  color: black;
  margin-left: 0.5em;
}

.add-keyword-container {
  display: flex;
  justify-content: space-between;
}

.add-keyword-container .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.add-keyword-container .input-box:not(:first-child) {
  margin-left: 1.5em;
}

.input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.add-keyword-container .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #9b59b6;
}

.add-keyword-btn {
  /* padding: 2em; */
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 5vh;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-keyword-btn:hover {
  background-color: #b32962;
}


@media screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .main-content {
    margin-left: 70px;
  }

  .main-content header {
    width: calc(100% - 70px);
    left: 70px;
  }

  .sidebar .sidebar-brand h1 span,
  .sidebar li a span {
    display: none;
  }

  .sidebar li a {
    margin-left: -22px;
    padding-left: 1em;
  }

  .sidebar .sidebar-brand {
    margin-left: -12px;
  }
}

@media screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .recent-grid {
    grid-template-columns: 60% 35%;
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .recent-grid {
    grid-template-columns: 100%;
  }
  .search-wrapper {
    display: none;
  }

  /* .sidebar {
    left: -100% !important;
  }
  header h1 label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding-right: 0;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
  }
  header h1 label i {
    padding: 0;
    color: white;
  }

  header h1 {
    font-size: 1.4em;
    display: flex;
    align-items: center;
  }

  .main-content {
    width: 100%;
    margin-left: 0px;
  }

  .main-content header {
    width: 100%;
    left: 0;
  } */
  
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: 100%;
  }
  .recent-grid {
    grid-template-columns: 100%;
  }

  /* .search-wrapper {
    display: none;
  }
  .sidebar {
    left: -100% !important;
  }
  header h1 label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding-right: 0;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
  }
  header h1 label i {
    padding: 0;
    color: white;
  }

  .main-content {
    width: 100%;
    margin-left: 0px;
  }

  .main-content header {
    width: 100%;
    left: 0;
  }

  .cards {
    overflow: hidden;
  } */

    header h1{
      font-size: 1.4em;
  }

  .add-keyword-container{
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
  }

  .add-keyword-container .input-box {
    width: 100%;
  margin-left: 0em;
}

.add-keyword-container .input-box:not(:first-child) {
  margin-left: 0;
}
}

